* {
    box-sizing: border-box;
}
html,
body {
    margin:0;
    padding:0;
    font-family: 'Roboto Condensed',sans-serif;
}
body {
    display: flex;
    align-items:center;
    flex-direction: column;
}
h1, h2, h3, h4, h5 {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

header{
    
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    width: 100%;
}
.header-H{
   
    width:50%;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin-right: 28%;
    font-size:50px;
}
.container {
    
   border-top:2px solid black;
    margin-left:0px;
    display:flex;
    margin: 0 auto;
    flex-wrap:wrap;
    justify-content:center;
    background-color: yellow;
}

nav{
  display: flex;
  padding-top: 122px;
  font-size: 24px;
  
  
}

nav a{
  color: black;
  text-decoration: none;
  margin-right: 150px; 
}

#btn{
    display: flex;
    justify-content: center;
    margin-bottom: 30%;


.blurb {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  padding: 0 20%;
  margin: 50px 0;
}



button{
 
    margin: 0 auto;
    border:2px solid black;
    font-size: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: lime; 
    color:blue;
    
}



.top-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.top-cont{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    flex-direction: column;
}
 .top-cont h2{
    display: flex;
    justify-content: center;
    font-size: 72px;
} 
 

.cards-container {
    background-color:blue;
    display: flex;
    justify-content: space-evenly;
    align-items: none;
    flex-direction: row;
    width: 100%;
    margin-top: 16px;
    flex-wrap: wrap;
  }










  /* 640 is the pixel width of an iPhone 5c. Which is my crummy phone */
   @media (max-width: 640px) {
     nav a {
       text-decoration: none;
       margin: 0 auto;
     }

     button {
       width: 100%;
       height: 75px;
     }

     button a {
       font-size: 36px;
     }

     header {
       display: flex;
       flex-direction: column;
     }

     .header-H {
       width: 100%;
       height: 75px;
     }

     .header-H nav {
       width: 100%;
     }

     nav {
       display: flex;
       flex-direction: column;
       align-items: space-between;
       width: 100%;
     }

     .mobile-navigation {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 75px;
       border: 1px black solid;
       margin: 3px;
      
    }
     
  


    .blurb {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 200px;
      padding: 0 20%;
      margin: 50px 0;
    }

  }
  .cards-container .card {
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: none;
    flex-direction: column;
    background-color: #fff;
    width: 380px;
    margin-bottom: 16px;
    padding: 24px;
  }
  .cards-container .card .headline {
    font-size: 25px;
    font-family: 'Roboto Condensed', sans-serif;
  }
  .cards-container .card .author {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
  }
  .cards-container .card .author .img-container {
    padding-right: 10px;
    border-right: 1px solid lightgrey;
    height: 40px;
  }
  .cards-container .card .author .img-container img {
    width: 40px;
  }
  .cards-container .card .author span {
    padding-left: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
  }
